<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <!-- CONFIGURACIÓN MULTI-TENANT -->
    <add key="ClientId" value="condominio-neos" />
    
    <!-- CLOUD FUNCTION -->
    <add key="CloudFunctionUrl" value="https://us-central1-neos-tech.cloudfunctions.net/rfid-gateway" />
    
    <!-- CONFIGURACIÓN GATEWAY -->
    <add key="GatewayPort" value="60000" />
  </appSettings>
</configuration>
